


.search-form_size_big {
    padding: 3em 5em;

    border: 1px solid #d8d8d8;
    border-top-width: 0;
    border-bottom-width: 2px;
    background: #fff;

    font-size: 1.3em;
}

.search-form_size_big .search-form__inner {
    margin: auto;
}
