
.search-bar-suggestions {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    list-style: none;

    border: 1px solid #e1e1e1;
}

.search-bar-suggestions li {
    padding: 12px 10px;

    cursor: default;
    letter-spacing: .03em;

    border-bottom: 1px solid #e1e1e1;

    -webkit-tap-highlight-color: transparent;
}

.search-bar-suggestions li:last-child {
    border: none;
}

.search-bar-suggestions .highlighted {
    background: #f5f5f5;
}
