
@import '../variables.css';
@import '../mixins.css';

:root {
    --brand-color: #61dafb;
}

.header {
    color: #333;
    border-bottom: 4px solid var(--header-bg--secondary);
    background: var(--header-bg);

    flex: none;
}

.header__container {
    max-width: var(--max-content-width);
    margin: 0 auto;
    padding: 20px;
    @mixin clearfix;
}

.header__brand {
    text-decoration: none;

    color: color(var(--brand-color) lightness(+10%));

    font-size: 1.75em;
}

.header__brand-img_state_progress {
    animation: spin 3s cubic-bezier(.455, .030, .515, .955) infinite;
}

.header__brand-txt {
    margin-left: 10px;
}

.header__nav {
    float: right;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
