:root {

    /*
     * Colors
     * ======================================================================== */

    --app-bg:               #34495e;
    --header-bg:            #2c3e50;
    --header-bg--secondary: #7f8c8d;
    --footer-bg:            #333;

    /*
     * Typography
     * ======================================================================== */

    --font-family-base:      'Segoe UI', 'HelveticaNeue-Light', sans-serif;

    /*
     * Layout
     * ======================================================================== */

    --max-content-width:     1200px;

    /*
     * Media queries breakpoints
     * ======================================================================== */

    --screen-xs-min:         480px;  /* Extra small screen / phone */
    --screen-sm-min:         768px;  /* Small screen / tablet */
    --screen-md-min:         992px;  /* Medium screen / desktop */
    --screen-lg-min:         1200px; /* Large screen / wide desktop */

}
