
@import '../variables.css';

.footer {
    color: #fff;
    border-top: 3px solid var(--header-bg--secondary);
    background: var(--footer-bg);

    flex: none;
}

.footer__container {
    max-width: var(--max-content-width);
    margin: 0 auto;
    padding: 20px 15px;

    text-align: center;
}

.footer__text {
    color: rgba(255, 255, 255, 1);
}

.footer__text_muted {
    color: rgba(255, 255, 255, .3);
}

.footer__spacer {
    padding: 0 .2em;

    color: rgba(255, 255, 255, .3);
}

.footer__text,
.footer__link {
    padding: 2px 5px;

    font-size: 1em;
}

.footer__link,
.footer__link:active,
.footer__link:visited {
    text-decoration: underline;

    color: rgba(255, 255, 255, .6);
}

.footer__link:hover {
    text-decoration: none;

    color: rgba(255, 255, 255, 1);
}

.footer__external-icon {
    display: inline-block;

    width: 14px;
    height: 14px;
    margin-right: .3em;
    margin-left: .3em;

    fill: #a9a9a9;
}

.footer__link:hover .footer__external-icon {
    fill: #fff;
}
