:root {
    --source-icon-size: 25px;
    --user-pic-size: 40px;
}

.post {
    box-sizing: border-box;
    /*width: 45%;*/
    margin: .5em 0 1em;
    padding: .2em;

    border: 1px solid #d8d8d8;
    border-top-width: 0;
    border-bottom-width: 2px;
    background-color: #fff;
    /*box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, .4);*/
}

.post__header {
    min-height: var(--user-pic-size);
    padding: .5em .5em .2em;
}

.post__header-inner {
    position: relative;

    padding-right: var(--source-icon-size);
}

.post__source-link {
    position: absolute;
    top: 0;
    right: 0;
}

.post__source {
    width: var(--source-icon-size);
    height: var(--source-icon-size);

    transition: opacity .3s;

    opacity: 1;
}

.post__source:hover {
    opacity: .7;
}

.post__source_type_instagram {
    fill: rgba(145,92,75, 1);
}

.post__source_type_twitter {
    fill: rgba(85,172,238, 1);
}

.post__time {
    white-space: nowrap;

    color: #979797;

    font-size: 1.3rem;
}

/* user */
.post__user {
    position: relative;

    display: block;

    padding-left: calc(var(--user-pic-size) + 5px);
}

.post__user-link {
    text-decoration: none;
}

.post__user-pic {
    position: absolute;
    top: 0;
    left: 0;

    max-width: var(--user-pic-size);

    transition: opacity .3s;

    opacity: 1;
}

.post__user-name {
    margin-right: .5em;

    text-decoration: underline;

    color: #555;

    font-size: 1.4rem;
}

.post__user-full-name {
    display: block;
    overflow: hidden;

    padding-right: .3em;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: #000;

    font-weight: bold;
    line-height: 1.25;
}

.post__user-link:hover .post__user-name {
    text-decoration: none;
}

.post__user-link:hover .post__user-pic {
    opacity: .7;
}

/* content */

.post__content {
    display: block;

    margin: 0;
    padding: .5em;
}

.post__text {
    overflow: hidden;
}

/* media */
.post__media {
    margin: .5em 0;

    text-align: center;
}

.post__media-item {
    max-width: 100%;
}
