.posts-list {
    display: flex;

    margin: .5em auto 0;
    padding: 0 0 2em;

    align-content: flex-start;
    align-items: flex-start;
    flex-flow: row wrap;
    justify-content: space-between;
}

.posts-list__column {
    box-sizing: border-box;
}
