.posts-list {
    display: flex;

    margin: 0 auto;
    padding: 2em 0;

    align-content: flex-start;
    align-items: flex-start;
    flex-flow: row wrap;
    justify-content: space-between;
}

.posts-list__column {
    /*padding: 0 1em;*/
    box-sizing: border-box;
}
