html {
    display: table;

    width: 100%;
    height: 100%;
    margin: 0;

    text-align: center;

    color: #888;

    font-family: sans-serif;
}

body {
    display: table-cell;

    margin: 2em auto;

    vertical-align: middle;
}

h1 {
    color: #555;

    font-size: 2em;
    font-weight: 400;
}

p {
    width: 280px;
    margin: 0 auto;
}

@media only screen and (max-width: --screen-xs-min) {
    body, p {
        width: 95%;
    }

    h1 {
        margin: 0 0 .3em;

        font-size: 1.5em;
    }
}
