
@import '../variables.css';

html {
    display: table;

    width: 100%;
    height: 100%;
    margin: 0;

    text-align: center;

    color: #888;

    font-family: sans-serif;
}

body {
    display: table-cell;

    margin: 2em auto;

    vertical-align: middle;
}

h1 {
    color: #555;

    font-size: 2em;
    font-weight: 400;
}

p {
    width: 280px;
    margin: 0 auto;
}

.not-found-page {
    display: inline-block;
    min-width: 650px;
    max-width: var(--max-content-width);
    margin: auto;
    padding: 40px 20px 80px;
    box-sizing: border-box;

    border: 1px solid #d8d8d8;
    border-top-width: 0;
    border-bottom-width: 2px;
    background-color: #fff;
}

@media (--mq-sm-min) {
    .not-found-page {
        min-width: 0;
        width: 100%;
    }
}

@media (--mq-xs-min) {
    body, p {
        width: 95%;
    }

    h1 {
        margin: 0 0 .3em;

        font-size: 1.5em;
    }

    .not-found-page {
        padding: 20px 20px 40px;
    }
}
